<!DOCTYPE html>
<html>
    <head>
        <title>Project AURA Dashboard</title>
        <link rel="stylesheet" href="CSS/dashboardStyles.css">
    </head>
    <body>
        <h1>Sensor Dashboard - Project AURA</h1>
        <div class="sensor-grid">
        <div class="sensor-card">
            <p class="colour">Red</p>
            <input type="number" v-model="Red" min="0" max="100">
            <input type="range" v-model="Red" min="0" max="100">
        </div>
        <div class="sensor-card">
            <p class="colour">Green</p>
            <input type="number" v-model="Green" min="0" max="100">
            <input type="range" v-model="Green" min="0" max="100">
        </div>
        <div class="sensor-card">
            <p class="colour">Blue</p>
            <input type="number" v-model="Blue" min="0" max="100">
            <input type="range" v-model="Blue" min="0" max="100">
        </div>
        <div class="sensor-card">
        <label for="w">White (W)</label>
        <input type="number" id="w" >
        </div>
        <div class="sensor-card">
        <label for="lux">Illuminance (LUX)</label>
        <input type="number" id="lux" >
        </div>
        <div class="sensor-card">
        <label for="cct">Color Temp (CCT)</label>
        <input type="number" id="cct" >
        </div>
        </div>

        <div style="text-align:center;">
        <button class="save-btn">Save Changes</button>
        </div>
        <footer>
        &copy; Project AURA 2025
        </footer>
        <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
        <script src="scripts/app.js"></script> 
    </body>
</html>
  


